[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "==2.25.1"
tornado = "==6.1"
Flask-Mako = "==0.4"
Flask = "==1.1.2"
dnspython = "==2.0.0"


[dev-packages]



[requires]

python_version = "3.9"
