[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "==2.31.0"
tornado = "==6.4"
Flask = "==3.0.2"
dnspython = "==2.5.0"


[dev-packages]



[requires]

python_version = "3.12"
