[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "==2.22.0"
tornado = "==6.0.3"
wsgi-request-logger = "==0.4.6"
Flask-Mako = "==0.4"
Flask = "==1.1.1"


[dev-packages]



[requires]

python_version = "3.6"
