<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#087F23">
        <meta name="author" content="Miguel Angel Corral Peltzer">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#25802c">
        <link rel="stylesheet" href="/static/css/theme.css"/>
        <link rel="stylesheet" href="/static/css/custom.css"/>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Roboto"/>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
              integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
              crossorigin="anonymous"/>
        {% if active == 'Home' %}
            <link rel="stylesheet"
                  href="https://cdn.datatables.net/v/bs/dt-1.10.15/r-2.1.1/datatables.min.css"/>
            <link rel="stylesheet"
                  href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css"
                  integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw=="
                  crossorigin="anonymous"/>
        {% endif %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha512-oBTprMeNEKCnqfuqKd6sbvFzmFQtlXS3e0C/RGFV0hD6QzhHV+ODfaQbAlmY6/q0ubbwlAM/nCJjkrgA3waLzg==" crossorigin="anonymous"></script>
        {% if active == 'Home' %}
            <script src="https://cdn.datatables.net/v/bs/dt-1.10.15/r-2.1.1/datatables.min.js"></script>
            <script src="https://cdn.datatables.net/plug-ins/1.10.15/sorting/natural.js"></script>
            <script src="https://cdn.datatables.net/plug-ins/1.10.15/sorting/date-eu.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"
                    integrity="sha512-CryKbMe7sjSCDPl18jtJI5DR5jtkUWxPXWaLCst6QjH8wxDexfRJic2WRmRXmstr2Y8SxDDWuBO6CQC6IE4KTA=="
                    crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/livestamp/1.1.2/livestamp.min.js"
                    integrity="sha512-C3RIeaJCWeK5MLPSSrVssDBvSwamZW7Ugygc4r21guVqkeroy9wRBDaugQssAQ+m3HZsMWVvEigcNMr7juGXKA=="
                    crossorigin="anonymous"></script>
            <noscript>
                <style>#trackon_table {visibility: visible}</style>
            </noscript>
        {% endif %}
        {% if active == 'List' %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"
                    integrity="sha512-7O5pXpc0oCRrxk8RUfDYFgn0nO1t+jLuIOQdOMRp4APB7uZ4vSjspzp5y6YDtDs4VzUSTbWzBFZ/LKJhnyFOKw=="
                    crossorigin="anonymous"></script>
        {% endif %}
        {% if active == 'Submitted' %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"
                    integrity="sha512-CryKbMe7sjSCDPl18jtJI5DR5jtkUWxPXWaLCst6QjH8wxDexfRJic2WRmRXmstr2Y8SxDDWuBO6CQC6IE4KTA=="
                    crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/livestamp/1.1.2/livestamp.min.js"
                    integrity="sha512-C3RIeaJCWeK5MLPSSrVssDBvSwamZW7Ugygc4r21guVqkeroy9wRBDaugQssAQ+m3HZsMWVvEigcNMr7juGXKA=="
                    crossorigin="anonymous"></script>
        {% endif %}
        {% if active == 'API' %}
            <script src="https://cdn.jsdelivr.net/npm/rapidoc@9.3.3/dist/rapidoc-min.js"
                    integrity="sha512-IqwxAUOKeDBseg67em0HTCqiklC6Bhu8E74aNEiM/1CqvozxFFiuMrcWhbn31Wbh8liSSoERRvP8tFqI2M9e4g=="
                    crossorigin="anonymous"></script>
        {% endif %}
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="./" class="navbar-brand">newTrackon</a>
                    <button class="navbar-toggle"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                {% set navigation = [
                ('Home', 'fa-home', '/'),
                ('List', 'fa-list', '/list'),
                ('Submitted', 'fa-plus', '/submitted'),
                ('FAQ', 'fa-question-circle', '/faq'),
                ('API', 'fa-code', '/api'),
                ('Raw data', 'fa-terminal', '/raw'),
                ] %}
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        {% for name, icon, url in navigation %}
                            <li class="{% if active == name %}active{% endif %}">
                                <a href="{{ url }}">
                                    <i class="fas {{ icon }}"></i>
                                    {{ name }}
                                </a>
                            </li>
                        {% endfor %}
                        <li>
                            <a href="https://github.com/CorralPeltzer/newTrackon"><i class="fab fa-github" aria-hidden="true"></i> Source</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="{% if active == 'About' %}active{% endif %}">
                            <a href="/about"><i class="fas fa-user" aria-hidden="true"></i> About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% block body %}{% endblock %}
        <footer class="footer">
            <p class="text-center">
                A <a href="https://twitter.com/CorralPeltzer">@CorralPeltzer</a> creation based on an <a href="http://uriel.cat-v.org/">Uriel</a> project
            </p>
        </footer>
    </body>
</html>
