<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#087F23">
        <meta name="author" content="Miguel Angel Corral Peltzer">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#25802c">
        <link rel="stylesheet" href="/static/css/theme.css">
        <link rel="stylesheet" href="/static/css/custom.css">
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Roboto"/>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
              integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
              crossorigin="anonymous"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha512-oBTprMeNEKCnqfuqKd6sbvFzmFQtlXS3e0C/RGFV0hD6QzhHV+ODfaQbAlmY6/q0ubbwlAM/nCJjkrgA3waLzg==" crossorigin="anonymous"></script>
        {% block head %} {% endblock head %}
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="./" class="navbar-brand">newTrackon</a>
                    <button class="navbar-toggle"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                {% set navigation = [
                ('Home', 'fa-home', '/'),
                ('List', 'fa-list', '/list'),
                ('Submitted', 'fa-plus', '/submitted'),
                ('FAQ', 'fa-question-circle', '/faq'),
                ('API', 'fa-code', '/api'),
                ('Raw data', 'fa-terminal', '/raw'),
                ] %}
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        {% for name, icon, url in navigation %}
                            <li class="{% if active == name %}active{% endif %}">
                                <a href="{{ url }}">
                                    <i class="fas {{ icon }}"></i>
                                    {{ name }}
                                </a>
                            </li>
                        {% endfor %}
                        <li>
                            <a href="https://github.com/CorralPeltzer/newTrackon"><i class="fab fa-github" aria-hidden="true"></i> Source</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="{% if active == 'About' %}active{% endif %}">
                            <a href="/about"><i class="fas fa-user" aria-hidden="true"></i> About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% block body %} {% endblock body %}
        <footer class="footer">
            <p class="text-center">
                A <a href="https://twitter.com/CorralPeltzer">@CorralPeltzer</a> creation based on an <a href="http://uriel.cat-v.org/">Uriel</a> project
            </p>
        </footer>
    </body>
</html>
