{% extends "base.jinja" %}
{% block head %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"
                integrity="sha512-QoJS4DOhdmG8kbbHkxmB/rtPdN62cGWXAdAFWWJPvUFF1/zxcPSdAnn4HhYZSIlVoLVEJ0LesfNlusgm2bPfnA=="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/livestamp/1.1.2/livestamp.min.js"
                integrity="sha512-C3RIeaJCWeK5MLPSSrVssDBvSwamZW7Ugygc4r21guVqkeroy9wRBDaugQssAQ+m3HZsMWVvEigcNMr7juGXKA=="
                crossorigin="anonymous"></script>
{% endblock head %}
{% block body %}
    <div class="container">
        <h2>Submitted Trackers</h2>
        <p>
            This is the information about the last 600 tried trackers. To make it to the queue, a tracker has to be a
            well-formed URL, not to be an IP, and resolve at least to an IP address.
        </p>
        <p>
            newTrackon respects <a href="https://www.bittorrent.org/beps/bep_0034.html">BEP34</a>. If no BEP34 records are
            found, trackers are tried (in this order) with UDP, HTTPS and HTTP. When one protocol succeeds, and if its
            update interval is between 5 minutes and 3 hours,
            it gets added to the list. If no port is specified, the tracker is tried only with HTTPS on port 443 and HTTP on
            port 80. For HTTP/S, trackers must return a
            <a href="https://www.bittorrent.org/beps/bep_0023.html">compact peer list</a>.
        </p>
        <p>The queue is processed at about 10 seconds per URL tried.</p>
        <p>
            <b>Number of trackers in the queue: {{ size }}</b>
        </p>
    </div>
    {% if data %}
        <div class="container-fluid">
            <div class="table-responsive">
                <table class="sortable table table-responsive table-striped table-bordered initially-hidden">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>URL</th>
                            <th>IP</th>
                            <th>Result</th>
                            <th>Response/Error</th>
                        </tr>
                    </thead>
                    {% for response in data %}
                        <tr>
                            <td>
                                <span data-livestamp="{{ response['time'] }}"></span>
                            </td>
                            <td>{{ response['url'] }}</td>
                            <td>{{ response.get('ip', '') }}</td>
                            {% if response['status'] == 1 %}
                                <td class="up">
                                    <b>Accepted</b>
                                </td>
                            {% else %}
                                <td class="rejected">
                                    <b>Rejected</b>
                                </td>
                            {% endif %}
                            <td>
                                {% for message in response['info'] %}
                                    {{ message | e }}
                                    <br>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
    <script>
    $(document).ready(function () {
        $(".initially-hidden").css("visibility", "visible");
    });
    </script>
{% endblock %}
{% set title = "Submitted Trackers - newTrackon" %}
