html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body
{
	font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}

a:focus
{
	outline: 1px dotted invert;
}

hr
{
	border-color: #ccc;
	border-style: solid;
	border-width: 1px 0 0;
	clear: both;
	height: 0;
}


h1
{
	font-size: 25px;
}

h2
{
	font-size: 23px;
}

h3
{
	font-size: 21px;
}

h4
{
	font-size: 19px;
}

h5
{
	font-size: 17px;
}

h6
{
	font-size: 15px;
}

ol
{
	list-style: decimal;
}

ul
{
	list-style: square;
}

li
{
	margin-left: 30px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset
{
	margin-bottom: 20px;
}

.container_12,
.container_16
{
	width: 92%;
	margin-left: 4%;
	margin-right: 4%;
}

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16
{
	display: inline;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
}

.container_12 .grid_3,
.container_16 .grid_4
{
	width: 23%;
}

.container_12 .grid_6,
.container_16 .grid_8
{
	width: 48%;
}

.container_12 .grid_9,
.container_16 .grid_12
{
	width: 73%;
}

.container_12 .grid_12,
.container_16 .grid_16
{
	width: 98%;
}


.alpha
{
	margin-left: 0;
}

.omega
{
	margin-right: 0;
}


.container_12 .grid_1
{
	width: 6.333%;
}

.container_12 .grid_2
{
	width: 14.666%;
}

.container_12 .grid_4
{
	width: 31.333%;
}

.container_12 .grid_5
{
	width: 39.666%;
}

.container_12 .grid_7
{
	width: 56.333%;
}

.container_12 .grid_8
{
	width: 64.666%;
}

.container_12 .grid_10
{
	width: 81.333%;
}

.container_12 .grid_11
{
	width: 89.666%;
}


.container_16 .grid_1
{
	width: 4.25%;
}

.container_16 .grid_2
{
	width: 10.5%;
}

.container_16 .grid_3
{
	width: 16.75%;
}

.container_16 .grid_5
{
	width: 29.25%;
}

.container_16 .grid_6
{
	width: 35.5%;
}

.container_16 .grid_7
{
	width: 41.75%;
}

.container_16 .grid_9
{
	width: 54.25%;
}

.container_16 .grid_10
{
	width: 60.5%;
}

.container_16 .grid_11
{
	width: 66.75%;
}

.container_16 .grid_13
{
	width: 79.25%;
}

.container_16 .grid_14
{
	width: 85.5%;
}

.container_16 .grid_15
{
	width: 91.75%;
}


.container_12 .prefix_3,
.container_16 .prefix_4
{
	padding-left: 25%;
}

.container_12 .prefix_6,
.container_16 .prefix_8
{
	padding-left: 50%;
}

.container_12 .prefix_9,
.container_16 .prefix_12
{
	padding-left: 75%;
}


.container_12 .prefix_1
{
	padding-left: 8.333%;
}

.container_12 .prefix_2
{
	padding-left: 16.666%;
}

.container_12 .prefix_4
{
	padding-left: 33.333%;
}

.container_12 .prefix_5
{
	padding-left: 41.666%;
}

.container_12 .prefix_7
{
	padding-left: 58.333%;
}

.container_12 .prefix_8
{
	padding-left: 66.666%;
}

.container_12 .prefix_10
{
	padding-left: 83.333%;
}

.container_12 .prefix_11
{
	padding-left: 91.666%;
}


.container_16 .prefix_1
{
	padding-left: 6.25%;
}

.container_16 .prefix_2
{
	padding-left: 12.5%;
}

.container_16 .prefix_3
{
	padding-left: 18.75%;
}

.container_16 .prefix_5
{
	padding-left: 31.25%;
}

.container_16 .prefix_6
{
	padding-left: 37.5%;
}

.container_16 .prefix_7
{
	padding-left: 43.75%;
}

.container_16 .prefix_9
{
	padding-left: 56.25%;
}

.container_16 .prefix_10
{
	padding-left: 62.5%;
}

.container_16 .prefix_11
{
	padding-left: 68.75%;
}

.container_16 .prefix_13
{
	padding-left: 81.25%;
}

.container_16 .prefix_14
{
	padding-left: 87.5%;
}

.container_16 .prefix_15
{
	padding-left: 93.75%;
}


.container_12 .suffix_3,
.container_16 .suffix_4
{
	padding-right: 25%;
}

.container_12 .suffix_6,
.container_16 .suffix_8
{
	padding-right: 50%;
}

.container_12 .suffix_9,
.container_16 .suffix_12
{
	padding-right: 75%;
}


.container_12 .suffix_1
{
	padding-right: 8.333%;
}

.container_12 .suffix_2
{
	padding-right: 16.666%;
}

.container_12 .suffix_4
{
	padding-right: 33.333%;
}

.container_12 .suffix_5
{
	padding-right: 41.666%;
}

.container_12 .suffix_7
{
	padding-right: 58.333%;
}

.container_12 .suffix_8
{
	padding-right: 66.666%;
}

.container_12 .suffix_10
{
	padding-right: 83.333%;
}

.container_12 .suffix_11
{
	padding-right: 91.666%;
}


.container_16 .suffix_1
{
	padding-right: 6.25%;
}

.container_16 .suffix_2
{
	padding-right: 16.5%;
}

.container_16 .suffix_3
{
	padding-right: 18.75%;
}

.container_16 .suffix_5
{
	padding-right: 31.25%;
}

.container_16 .suffix_6
{
	padding-right: 37.5%;
}

.container_16 .suffix_7
{
	padding-right: 43.75%;
}

.container_16 .suffix_9
{
	padding-right: 56.25%;
}

.container_16 .suffix_10
{
	padding-right: 62.5%;
}

.container_16 .suffix_11
{
	padding-right: 68.75%;
}

.container_16 .suffix_13
{
	padding-right: 81.25%;
}

.container_16 .suffix_14
{
	padding-right: 87.5%;
}

.container_16 .suffix_15
{
	padding-right: 93.75%;
}


html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear
{
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}


.clearfix:after
{
	clear: both;
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
}

.clearfix
{
	display: inline-block;
}

* html .clearfix
{
	height: 1%;
}

.clearfix
{
	display: block;
}


body {
	background: #eee;
	border-top: 5px solid #000;
	color: #333;
	font-size: 11px;
	padding: 0 0 40px;
}


a {
	color: #000;
	font-weight:bold;
	text-decoration: none;
}
a:hover {
	color:#333;
}


.container_12,
.container_16 {
	background:#fff;
}


h1, h2, h3, h4, h5, h6 {line-height:1.2em; margin-bottom:.3em;}
h2 {margin-top:1em;}
h5 {font-size:1.2em;}
h6 {font-size:1em; text-transform:uppercase;}


h1 a {
	font-weight:normal;
}


h1#branding {
	font-weight:normal;
	font-size:3em;
	text-align:left;
	background:#aaa;
	padding:.7em 1em;
	margin-bottom:0;
}


h2#page-heading {
	font-weight:normal;
	padding:.5em;
	margin:0 0 10px 0;
	border-bottom:1px solid #ccc;
}


.box {
	background:#ddd;
	margin-bottom:20px;
	padding:10px 10px 1px 10px;
}
.box h2 {
	font-size:1em;
	font-weight:normal;
	text-transform:uppercase;
	color:#fff;
	background:#333;
	margin:-10px -10px 0 -10px;
	padding:6px 12px;
}
.box h2 a,
.box h2 a.visible {
	color:#fff;
	background:#333 url("../img/switch_minus.gif") 97% 50% no-repeat;
	display:block;
	padding:6px 12px;
	margin:-6px -12px;
	border:none;
}
.grid_4 .box h2 a {
	background-position: 97% 50%;
}
.grid_5 .box h2 a {
	background-position: 98% 50%;
}
.grid_12 .box h2 a {
	background-position: 99% 50%;
}


.box h2 a.hidden,
.box h2 a.hidden:hover {
	background-image: url("../img/switch_plus.gif");
}
.box h2 a:hover {
	background-color:#111;
}
.block {
	padding-top:10px;
}
div.menu {
	padding:0;
}
div.menu h2 {
	margin:0;
}
div.menu .block {
	padding-top:0;
}


p {
	margin-bottom:1em;
}
blockquote {
	font-family: Georgia, 'Times New Roman', serif;
	font-size:1.2em;
	padding-left:1em;
	border-left:4px solid #ccc;
}
blockquote cite {
	font-size:.9em;
}
ul, ol {
	padding-top:0;
}


ul.menu {
	list-style:none;
	border-top:1px solid #bbb;
}
ul.menu li {
	margin:0;
}
ul.menu li a {
	display:block;
	padding:4px 10px;
	border-bottom:1px solid #ccc;
}
ul.menu li a:hover {
	background:#eee;
}
ul.menu li a:active {
	background:#ccc;
}


ul.menu ul {
	list-style:none;
	margin:0;
}
ul.menu ul li a {
	padding-left:30px;
}


ul.section {
	border-top:0;
	margin-bottom:0;
}
ul.section li {
	text-transform:uppercase;
}
ul.section li a {
	background:#bbb;
}
ul.section li a:hover {
	background:#aaa;
}
ul.section li a:active {
	color:#fff;
	background:#666;
}
ul.section li li a {
	background:#ddd;
	border-bottom:1px solid #eee;
}
ul.section li li a:hover {
	background:#ccc;
}
ul.section li li a:active {
	color:#000;
	background:#fff;
}
ul.section ul li {
	text-transform:none;
}
ul.section ul.current li a {
	background:#eee;
	border-bottom:1px solid #fff;
}
ul.section ul.current li a:hover {
	background:#ddd;
}
ul.section ul.current li a:active {
	background:#fff;
}
ul.section li a.current {
	color:#fff;
	background:#666;
}
ul.section li a.current:hover {
	background:#555;
}
ul.section li a.current:active {
	background:#444;
}
ul.section li a.active {
	background:#fff;
	cursor:default;
}
ul.section li.current > a.active,
ul.section li.current > a.active:hover {
	color:#fff;
	background:#666;
	cursor:default;
}


table {
	width:100%;
	border:1px solid #bbb;
	margin-bottom:10px;
}
col.colC {
	width:8em;
}
th, td {
	padding:.2em 1em;
	text-align:left;
}
thead th {
	border-bottom:2px solid #888;
	background:#bbb;
	padding:.4em 1em .2em;
}
thead th.table-head {
	font-size:1em;
	font-weight:normal;
	text-transform:uppercase;
	color:#fff;
	background:#555;
	border:1px solid #555;
}
tbody th,
tbody td {
	border-top:1px solid #bbb;
	border-bottom:1px solid #bbb;
	background:#eee;
}
tbody tr.odd th,
tbody tr.odd td {
	background:#fff;
}
tfoot th,
tfoot td {
	border-top:2px solid #666;
	background:#eee;
}
tfoot tr.total th,
tfoot tr.total td {
	border-top:6px double #666;
}
tfoot tr.total th {
	text-transform:uppercase;
}
th.currency,
td.currency {
	text-align:right;
}


form {
	overflow:hidden;
}
fieldset {
	border:1px solid #bbb;
	padding:10px;
	position:relative;
	background:#e9e9e9;
	margin-bottom:10px;
}
legend {
	font-size:1.1em;
	padding:.4em .8em;
	background:#fff;
	border:1px solid #bbb;
}
fieldset.login p {
	margin-bottom:1em;
	margin-top:0pt;
}
fieldset p label {
	width:98%;
}
fieldset p input {
	width:98%;
}
fieldset p select {
	width:99%;
}
fieldset.login p label {
	float:left;
	line-height:2em;
	margin-right:3%;
	text-align:right;
	width:32%;
}
fieldset.login p input {
	width:60%;
}
fieldset.login input.button {
	margin-left:35%;
}
form p.notice {
	font-weight:bold;
}
input.search.text {
	width:66%;
}
input.search.button {
	width:28%;
	margin-left:2%;
}


.articles {
	padding:0;
}
.articles h2 {
	margin:0;
}
#articles {
	padding-top:0;
}
.article {
	border-top:1px solid #666;
	padding-top:.5em;
}
.box .article {
	border-top:3px solid #fff;
	padding:13px 10px 0 10px;
}
.article h2 {
	font-size:2em;
	font-weight:normal;
	text-transform:none;
	color:#333;
	background:transparent;
	padding:0;
	margin:0;
	border:none;
}
.article h3 {
	margin-bottom:.2em;
	font-size:1.6em;
}
.box .first {
	border-top:none;
}
.article h4 {
	font-size:1.2em;
	text-transform:uppercase;
	margin-bottom:.5em;
}
.article a.image {
	float:left; 
	margin:3px 10px 3px 0; 
	padding:4px;
	border:1px solid #bbb;
	background:#fff;
}
.article a.image:hover {
	border:1px solid #666;
}
.article a.image img {
	float:left; 
}
.article p.meta {
	color:#666;
	border-top:1px dotted #999;
	border-bottom:1px dotted #999;
	padding:.3em 0;
	margin-bottom:.8em;
}


#site_info .box {
	color:#ccc;
	background:#666;
	margin-bottom:10px;
}
#site_info a {
	color:#fff;
}
#site_info a:hover {
	color:#000;
}


#loading {float:right; margin-right:14px; margin-top:-2px;}
.block {padding-bottom:1px;}


.toggler {
	color: #222;
	margin: 0;
	padding: 2px 5px;
	background: #eee;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-top: 1px solid #f5f5f5;
	border-left: 1px solid #f5f5f5;
	font-size:1.1em;
	font-weight: normal;
}
.element h4 {
	margin: 0;
	padding:4px;
	line-height:1.2em;
}
.element p {
	margin: 0;
	padding: 4px;
}
.float-right {
	padding:10px 20px;
	float:right;
}

#accordian-block {
	padding-bottom:10px;
}


#kwick-box { 
	padding:0;
	overflow:hidden;
}
#kwick-box h2 { 
	margin:0;
}
#kwick {
	position: relative;
}
#kwick .kwicks {
	display: block;
	background: #999;
	height: 120px;
	list-style:none;
	margin:0;
	overflow:hidden;
}
#kwick li {
	float: left;
	margin:0;
	padding:0;
}
#kwick .kwick {
	display: block;
	cursor: pointer;
	overflow: hidden;
	height: 100px;
	width: 215px;
	padding: 10px;
	background: #fff;
}
#kwick .kwick span {
	color:#fff;
}
#kwick .one {
	background: #666;
}
#kwick .two {
	background: #777;
}
#kwick .three {
	background: #888;
}
#kwick .four {
	background: #999;
}
ul.nav,
ul.nav * { margin:0;padding:0;}
ul.nav {
  position:relative;
  background:#666;
  max-width:100%;
  height:2.5em;
  }
ul.nav li {
	cursor:pointer;
	float:left;
	text-align:center;
	list-style-type:none;
	font-weight:normal;
}
ul.nav li ul {
	cursor:default;
	width:100%;
	max-width:100%;
	position:absolute;
	height:auto;
	top:2.5em;
	background-position:0 0 !important;
	left:-9000px;
}
ul.nav li ul li {
	padding:0;
	border:none;
	width:auto;
	max-width:none;
}
ul.nav li a {
	color:#fff;
	background:#666;
	font-weight:bold;
	text-decoration:none;
	display:block;
	float:left;
	padding:0 1em;
	height:2.4em;
	line-height:2.5em;
}
ul.nav li ul li a {
	position:relative !important; /* ie Mac */
	cursor:pointer !important;
	white-space:nowrap;
	line-height:2em;
	height:2em;
	font-weight:normal;
	color:#666;
	background-position:0 50% !important;
}

ul.nav li:hover a,
ul.nav li a:hover,
ul.nav li a:focus {color:#000; background:#ccc;}
ul.nav li a:active {color:#666; background:#fff;}
ul.nav li:hover ul {left:0;z-index:10}
ul.nav li ul,
ul.nav li {background:#ccc !important}
ul.nav li:hover ul li a {color:#444;}
ul.nav li:hover ul li a:hover {color:#000; background:#fff;}
ul.nav li:hover ul li a:active {color:#666; background:#fff;}

ul.nav li.current a {color:#666; background:#fff; cursor:default; font-weight:bold;}
ul.nav li.current ul {left:0;z-index:5}
ul.nav li.current ul,
ul.nav li.current {background:#ccc !important}
ul.nav li.current ul li a {color:#444; background:#ccc; font-weight:normal;}
ul.nav li.current ul li a:hover {color:#000; background:#fff;}
ul.nav li ul li.current a,
ul.nav li ul li.current a:hover,
ul.nav li.current:hover ul li a:active {color:#666; background:#fff;}


ul.nav {
  background:#666;
}
ul.main li {
  position:relative;
  top:0;
  left:0;
}
ul.main li ul {
  border-top:0;
}
ul.main li ul li {
  float:left;
}
ul.main li a {
	height:2.5em;
	line-height:2.5em;
	border:0;
	color:#fff;
	background:#666;
}
ul.main li ul li a {
  width:12em;
  line-height:2em;
  height:2em;
  text-align:left;
  color:#fff;
  border-top:1px solid #444;
  background:#444;
}
ul.main li a:focus {color:#fff; background:#666;}
ul.main li ul li a:hover {
  color:#fff;
  background:#555;
}
ul.main li:hover a {
  color:#fff;
  background:#555;
}
ul.main li:hover ul li a {color:#fff;}
ul.main li:hover ul li a:hover {color:#fff; background:#444;}
ul.main li:hover a:active {background:#444;}
ul.main li:hover ul li a:active {color:#fff; background:#222;}


ul.nav li.secondary {
	float:right;
	color:#cde;
	background:transparent !important;
}
ul.nav li.secondary span.status {
	float:left;
	padding:0 1em;
	line-height:2.77em;
	height:2.77em;
  font-size:0.9em;
}
ul.nav li.secondary span.status a {
	float:none;
	display:inline;
	padding:0;
	height:auto;
	line-height:auto;
	color:#cde;
	background:transparent;
}
ul.nav li.secondary span.status a:hover {
	color:#fff;
	background:transparent;
}
ul.nav li.secondary span.status span {
	text-transform:capitalize;
}
ul.nav li.secondary:hover a {
	color:#fff;
	background:#666;
}
ul.nav li.secondary:hover a:hover {
	background:#555;
}
ul.nav li.secondary:hover a:active {background:#444;}
