{% extends "base.jinja" %}
{% block body %}
    <div class="container">
        <h2>About newTrackon.com</h2>
        <p>
            newTrackon is a service based on the abandoned <a href="http://repo.cat-v.org/trackon/">Trackon</a> project, and
            is dedicated to gather and display information about the status of open/public BitTorrent trackers.
        </p>
        <h3>Contact</h3>
        <p>
            For suggestions, bug reports, or any other feedback, go to the <a href="https://github.com/CorralPeltzer/newTrackon">GitHub repo</a>, or contact me on <a href="https://twitter.com/CorralPeltzer">twitter</a> or <a href="mailto:corral.miguelangel@gmail.com">corral.miguelangel@gmail.com</a>
        </p>
        <h3>Thanks</h3>
        <p>Thanks to everyone that has provided feedback and input about the project.</p>
        Here is a list of some of the people and projects that have helped make newTrackon possible:
        <ul>
            <li>
                <a href="http://uriel.cat-v.org/">Uriel †</a>, the creator of Trackon.
            </li>
            <li>
                <a href="https://github.com/erindru">Erin Drummond</a> for his python HTTP and UDP scraper.
            </li>
            <li>And many others!</li>
        </ul>
    </div>
{% endblock %}
{% set title = "About - newTrackon" %}
