table.sortable thead {
    font-weight: bold;
    cursor: default;
}
body {
    background-color: #c1b89b;
}
td, th, table {
    font-family:Arial,sans-serif;
    border: 1px solid #888;
}
a {
    xtext-decoration: none;
}
