table.sortable thead {
    font-weight: bold;
    cursor: default;
}
body {
    font-size: 0.75em; 
    background-color: #edb;
    border-top: none;
}
td, th, table {
    font-family:Arial,sans-serif;
    border: 1px solid #888;
}
a {
    color: #c1b89b;
    text-decoration: underline;
    xtext-decoration: none;
}

dt {
    font-weight: bold;
}
dd {
    padding-left: 2em;
    border-bottom: solid 1px #ccc;
}

.main {
    font-size: 140%; 
}

/* Generic classes */
.center {
    text-align: center;
}

.small {
    font-size: 75%;
}

/* Specific layout elments */ 
#branding a {
    text-decoration: none;
    color: #333;
}

/* Status classes */

td.excellent {
    background-color: #CCFF9F;
}
td.error {
    background-color: #FF9F9F;
}
